.categories {
    padding: 0;

    .category-item {
        display: inline-block;
        padding: 2px 5px;
        background-color: var(--avare-green);
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 3px #208e93;
            
            a {
                padding: 0 10px;
            }
        }

        a {
            padding: 0;
            color: #afbac4;
            font-weight: 600;
        }
    }
}
