.categories {
    padding: 0;

    .category-item {
        display: inline-block;
        padding: 2px 5px;
        border-radius: var(--border-radius-btn);
        background-color: var(--avare-green);
        transition: padding 200ms ease;

        &:hover {
            a {
                padding: 0 10px;
            }
        }

        a {
            padding: 0;
            color: #afbac4;
            font-weight: 600;
        }
    }
}
