:root {
    --avare-green: #0b6064;
    --avare-shadow: #208e93;
    --avare-body-text: #afbac4;
}

* {
    line-height: 1.7rem;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: "Nunito", Arial, sans-serif;
}