.avare-card {
    transition: transform 200ms ease;

    .post-block {
        border-radius: var(--border-radius);

        .media-wrapper {
            figure {
                height: 180px;
                overflow: hidden;
            }

            img {
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
        }

        .content {
            color: var(--avare-body-text);

            .avare-readmore {
                border-radius: var(--border-radius-btn);
            }
        }
    }

    &:hover {
        transform: scale(0.96);

    }
}