<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <a href="{{ .Permalink }}">
        <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}"
          onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
      </a>
    </div>

    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
      <ul id="categories">
        {{ if .Params.categories }}
          {{ range .Params.categories }}
            <li class="category-item" title="Category: {{ . }}"><a href="{{ `categories/` | relLangURL }}{{ . | urlize}}/">{{ . }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>