:root {
    --avare-green: #0b6064;
    --avare-shadow: #208e93;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 600px;
    margin: 20px auto 10px;
}

p,
pre {
    max-width: 600px;
    margin: 0 auto 10px;
}

figure img {
    max-width: 100%;
}

ul#categories {
    padding: 0;
}

.category-item {
    display: inline-block;
    padding: 2px 5px;
    background-color: var(--avare-green);
    transition: all 0.3s ease;
}

.category-item:hover {
    box-shadow: 0 0 3px #208e93;
}

.category-item a {
    color: #afbac4;
    font-weight: 600;
}

.btn-transparent:hover,
.btn-transparent:focus {
    background-color: var(--avare-green);
}

.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link {
    background: var(--avare-green);
    border-color: var(--avare-green);
}

.lang-wrapper {
    position: relative;
    width: auto;
    float: left;
    max-width: 100%;
}
.lang-select {
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.lang-select:active,
.lang-select:focus {
    outline: none;
    box-shadow: none;
}
.lang-select::after {
    content: "&#9660;";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.lang-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.social-share {
    max-width: 600px;
    margin: auto;
}

.resp-sharing-button {
    border-radius: 4px;
}
