{{ $data := index site.Data site.Language.Lang }}

{{ if $data.carousel.carousel.enable }}
{{ with $data.carousel.carousel }}
<section class="carousel">
    <h2 class="carousel-title">{{ .title | markdownify }}</h2>
    <p class="carousel-subtitle">{{ .subtitle | markdownify }}</p>
    {{"<!-- Header carousel -->" | safeHTML}}
    <div class="home-carousel" data-flickity='{ "contain": true, "imagesLoaded": true, "lazyLoad": 1 }'>
        {{ range .slides }}
        <div class="carousel-cell">
            <figure class="carousel-cell-figure">
                <img class="carousel-cell-image" loading="lazy" sizes="90vw" srcset="{{ .path }}?tr=w-256,h-500 256w,
                        {{ .path }}?tr=w-512,h-500 512w,
                        {{ .path }}?tr=w-768,h-500 768w,
                        {{ .path }}?tr=w-1024,h-500 1024w,
                        {{ .path }}?tr=w-1280,h-500 1280w" data-flickity-lazyload="{{ .path }}?tr=w-512,h-500"
                    alt="Caption" />
                {{ if .link }}
                    <a href="{{ .link | safeURL}}"><figcaption class="carousel-cell-caption">{{ .caption }}</figcaption></a>
                {{ else }}
                    <figcaption class="carousel-cell-caption">{{ .caption }}</figcaption>
                {{ end }}
            </figure>
        </div>
        {{ end }}
    </div>
</section>
{{"<!-- /Header carousel -->" | safeHTML}}
{{ end }}
{{ end }}